
/************************************************************************
	GTD Trello (Card Heights)
*************************************************************************/

/* Limits Card Height */
.gtd-trello .list-wrapper .list.gtd-height .list-card { transition: all 0.5s ease-out; overflow: hidden; max-height: 52px; }

/* Shows full height on hover */
.gtd-trello .list-wrapper .list.gtd-height .list-card:hover { overflow: visible; max-height: 300px; }
