/************************************************************************
	GTD Trello (Card Links)
*************************************************************************/
.gtd-trello .list-card .gtd-tag { display: inline-block; background: #c377e0; color: #fff; padding: 2px 6px; border-radius: 3px; }
