/************************************************************************
	GTD Trello (List Projects)
*************************************************************************/
.gtd-trello .gtd-projects { margin-right: 20px !important; margin-left: 20px !important; }
.gtd-trello .gtd-projects .list-cards { padding-top: 5px; }
.gtd-trello .gtd-projects .list-card { height: 200px; margin: 20px 6% 32px; border-radius: 12px; position: relative; }
.gtd-trello .gtd-projects .list-card:before { content: ""; position: absolute; top: -20px; left: 50%; width: 50%; height: 20px; background: inherit; border-radius: 12px 12px 0 0; margin: 0 0 0 -25%; }
.gtd-trello .gtd-projects .list-card:after { content: ""; position: absolute; top: -9px; left: calc(50% + 15px); width: calc(50% - 30px); height: 9px; background: #E2E4E6; border-radius: 4px 4px 0 0; margin: 0 0 0 -25%; }
