/************************************************************************
	GTD Trello (Default/ Reset)
*************************************************************************/
/* Board Wrapper */
#board { overflow: auto !important; }

/* List Wrapper */
.gtd-trello .list-wrapper { position: relative; }

/* List Avatar */
.gtd-trello .list-wrapper .list .member-avatar { border-radius: 100%; }
