/************************************************************************
	GTD Trello (Default/ Reset)
*************************************************************************/
/* Board Wrapper */
#board { overflow: auto !important; }

/* List Wrapper */
.gtd-trello .list-wrapper { position: relative; }

/* List Header */
.gtd-trello .list-wrapper .list-header { min-height: 18px; line-height: 21px; padding: 8px 34px 4px 10px; }

/* List Card Details */
.gtd-trello .list-card { border-bottom: 1px solid #ccc !important; }

/* List Avatar */
.gtd-trello .list-wrapper .list .member-avatar { border-radius: 100%; }
