/************************************************************************
	GTD Trello (SEPARATORS)
*************************************************************************/
.gtd-trello .gtd-space { margin-right: 50px !important; margin-left: 50px !important; }
.gtd-trello .gtd-spaceright { margin-right: 50px !important; margin-left: 5px !important; }
.gtd-trello .gtd-spaceleft { margin-right: 5px !important; margin-left: 50px !important; }
